@import url('https://fonts.googleapis.com/css2?family=Anta&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Cinzel+Decorative:wght@400;700;900&family=Righteous&family=Rokkitt:ital,wght@1,100..900&family=Sen:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap');
nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    width: 100%;
    margin-bottom: 30px;
}
body{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}
* {
    
    margin: 0;
}
.title-materia{
    font-size: x-large;
    width: 90%;
    margin: auto;
    font-weight: 600;
    color: black ;
}
.title-materia span{
    color: red ;

}
.little-materia{
    width: 90%;
    margin: auto;
    opacity: 70%;
    font-size: 8px;
}
.carrosselimg-group {
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 250px;
}
.title-humanas h1 {
    background: linear-gradient(
        to right,
        orange 20%,
        rgb(255, 176, 30) 30%,
        rgb(190, 140, 46) 70%,
        rgb(224, 152, 16) 80%
    );
    font-family: "Cinzel Decorative", serif;
    font-weight: 500;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    font-size: 45px;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
  }
  .total-humanas{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
.grid-humanas{
    box-shadow: 1px 1px 10px 1px #00000091;
    padding:15px 10px;
    margin: 10px 5px 10px 0;
    border-radius: 5px;
    width: 70%;
    display: flex;
    flex-direction: column;
    height:  fit-content;

}
.grid-humanas h2{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
.grid-humanas p{
    width: 80%;
    margin: 0 auto ;
    text-align: justify;
    font-size: 10px;
}

.grid-humanas2{
    box-shadow: 1px 1px 10px 1px #00000091;
    padding:15px 10px ;
    margin: 10px auto 10px 80px;
    border-radius: 5px;
    width: 70%;
    display: flex;
    flex-direction: column;
    height:  fit-content;

}
.grid-humanas2 h2{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
.grid-humanas2 p{
    width: 80%;
    margin: 0 auto ;
    text-align: justify;
    font-size: 10px;
}
.grid-humanas3{
    box-shadow: 1px 1px 10px 1px #00000091;
    padding:15px 10px ;
    margin: 10px auto 10px 80px;
    border-radius: 5px;
    width: 70%;
    display: flex;
    flex-direction: column;
    height:  fit-content;
}
.grid-humanas3 img{
    width: 80%;
    margin: auto;
}
.grid-humanas3 h2{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}
.grid-humanas3 p{
    width: 80%;
    margin: 0 auto ;
    text-align: justify;
    font-size: 10px;
}
.carrosselimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 105px;
    border-radius: 20px;
    color: black;
    border: 1px dotted rgba(0, 0, 0, 0.349);
    text-align: center;
}
.a-beatddoneckles{
    color: black;
}

.styles-module_carousel-arrow__26sRw {
    opacity: 0;
}

.nav-div {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 60%;
    justify-content: space-between;
    position: fixed;
    top: 3.46rem;
    background-color: gray;

}
.itens-nav{
    height: 30%;
    margin-top: 10px;
}

.nav-icons {
    margin-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
}

.close-nav {
    align-items: center;
    display: flex;
    width: 100vw;
    height: 3.5rem;
    background-color: gray;

}



.nav-div p {
    color: aliceblue;
    margin: 10px 14px;
}
.git{
    background-color: white;
    border-radius: 50%;
}
.linkd{
    background-color: white;
    border-radius: 5px;
}
a {
    color: white;
    text-decoration: none;
}

.div-nav {
    width: 100%;
    background-color: gray;

    display: flex;
    flex-direction: row;
    height: 3.5rem;
    align-items: center;
}

.div-nav h2 {
    user-select: none;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 2rem;
    font-family: "Cinzel Decorative", serif;
   
    text-shadow: 1px 1px 30px wheat;
}

.close-nav h2 {
    user-select: none;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 2rem;
    font-family: "Cinzel Decorative", serif;
    text-shadow: 1px 1px 30px wheat;
}

main {
    padding-top: 80px;
    margin-left: 10px;
}

nav h3 {
    width: 80%;
    color: white;
    margin: auto;
    text-align: center;
    font-size: large;
    border-top: 1px dotted white;
    border-bottom: 1px dotted white;

}

footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #000;
    color: white;
    height: 50px;

}

.foot {
    display: flex;
    justify-content: space-between;
}

.foot a {
    margin: 0 10px;
}

.open-nav {
    position: fixed;
}

.download {
    position: fixed;
    right: 0;
}

.minha-foto {
    box-shadow: 1px 1px 10px 3px black;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 3px solid rgb(190, 190, 190);
}

figure {
    text-align: center;
    margin-bottom: 40px;
}

main h1 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-shadow: 4px 3px 10px whitesmoke;
    font-size: xx-large;
}

h1 span {
    text-shadow: 0 0 0 black;
    color: red;
}

main h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home-title {
    text-align: center;
    margin-left: auto;
}

.home-title img {
    margin: 10px auto;
}

.sobremim {
    height: fit-content;
    width: 90%;
    margin: 30px auto;

}

.sobremim h2 {
    user-select: none;
    font-size: xx-large;
    color: red;
    margin: 10px 0;
}

h2 span {
    user-select: none;
    color: black;
}






@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}