@import url('https://fonts.googleapis.com/css2?family=Anta&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Cinzel+Decorative:wght@400;700;900&family=Righteous&family=Rokkitt:ital,wght@1,100..900&family=Sen:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap');
@import url(./assets/mobile.css);

body {

    height: 110vh;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    background-color: #F2EAE4;
    color: #730202;
}

@media (min-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 10;
        width: 100%;
        margin-bottom: 30px;
    }

    header {
        width: 100;
    }

    header a,
    header h2 {
        cursor: pointer;
    }



    header a:hover,
    header h2:hover {
        color: #000;
    }

    * {

        padding: 0;
        margin: 0;
    }

    .title-materia {
        font-size: x-large;
        width: 90%;
        margin: auto;
        font-weight: 600;
        color: #730202;
    }

    .title-materia span {
        color: #BF0404;

    }

    .little-materia {
        width: 90%;
        margin: auto;
        opacity: 70%;
        font-size: 8px;
    }

    .carrosselimg-group {
        color: #730202;
        display: flexbox;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto;
        height: 250px;
    }

    .carrosel {
        display: none;
    }

    .materias-web {

        color: #730202;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 85%;
        margin: auto;
        height: 700px;
        padding-bottom: 40px;
    }

    .card-materia {
        font-size: larger;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 18rem;
        margin: 10px auto;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.26);
        height: 200px;
        border-radius: 20px;
        color: #730202;
        transition: 0.5s;
    }

    .card-materia:hover {
        scale: 1.1;
        box-shadow: 1px 1px 10px 1px #730202;
        color: #D96262;

    }

    .title-humanas h1 {
        background: linear-gradient(to right,
                orange 20%,
                rgb(255, 176, 30) 30%,
                rgb(190, 140, 46) 70%,
                rgb(224, 152, 16) 80%);
        font-family: "Cinzel Decorative", serif;
        font-weight: 500;
        text-align: center;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        font-size: 8rem;
        background-size: 500% auto;
        animation: textShine 5s ease-in-out infinite alternate;
    }

    .mobile {
        display: none;
    }

    .title-matematica h1 {
        background: linear-gradient(to right,
                blue 20%,
                rgb(21, 21, 248) 30%,
                rgb(76, 76, 248) 70%,
                rgb(89, 89, 252) 80%);
        font-family: "Cinzel Decorative", serif;
        font-weight: 500;
        text-align: center;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        font-size: 8rem;
        background-size: 500% auto;
        animation: textShine 5s ease-in-out infinite alternate;
    }

    .title-linguagens h1 {
        background: linear-gradient(to right,
                red 20%,
                rgb(255, 49, 49) 30%,
                rgb(255, 73, 73) 70%,
                rgb(238, 105, 105) 80%);
        font-family: "Cinzel Decorative", serif;
        font-weight: 500;
        text-align: center;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        font-size: 8rem;
        background-size: 500% auto;
        animation: textShine 5s ease-in-out infinite alternate;
    }

    .title-natureza h1 {
        background: linear-gradient(to right,
                green 20%,
                rgb(6, 182, 6) 30%,
                rgb(11, 192, 11) 70%,
                rgb(14, 187, 14) 80%);
        font-family: "Cinzel Decorative", serif;
        font-weight: 500;
        text-align: center;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        font-size: 8rem;
        background-size: 500% auto;
        animation: textShine 5s ease-in-out infinite alternate;
    }

    .title-desi h1 {
        background: linear-gradient(to right,
                blue 20%,
                rgb(21, 21, 248) 30%,
                rgb(0, 0, 0) 70%,
                rgb(46, 46, 51) 80%);
        font-family: "Cinzel Decorative", serif;
        font-weight: 500;
        text-align: center;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        font-size: 4.3rem;
        margin: auto;
        width: 80%;
        background-size: 500% auto;
        animation: textShine 3s ease-in-out infinite alternate;
    }

    .total-humanas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;

        width: 90%;
        justify-content: space-around;

    }

    .a-beatddoneckles {
        margin: auto;
        color: black;
        width: 40%;
        margin: 10px 0;

    }

    .grid-humanas {
        box-shadow: 1px 1px 10px 1px #7302023a;
        padding: 15px 10px;
        margin: 10px 0 10px 0;
        border-radius: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 10px
    }

    .grid-humanas h2 {
        color: #BF0404;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .grid-humanas p {
        color: #730202;
        width: 80%;
        margin: 10px auto;
        text-align: justify;
        height: fit-content;
        font-size: 15px;
    }

    .grid-humanas2 {
        box-shadow: 1px 1px 10px 1px #7302023a;
        padding: 15px 10px;
        margin: 10px 0 10px 0;
        border-radius: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 10px
    }

    .grid-humanas2 h2 {
        color: #BF0404;

        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .grid-humanas2 p {
        width: 80%;
        color: #730202;
        margin: 0 auto;
        text-align: justify;
        font-size: 15px;

    }

    .grid-humanas3 {
        box-shadow: 1px 1px 10px 1px #7302023a;
        padding: 15px 10px;
        margin: 10px 0 10px 0;
        border-radius: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 10px
    }

    .grid-humanas3 img {
        width: 80%;
        margin: auto;
    }

    .grid-humanas3 h2 {
        color: #BF0404;

        text-align: center;
        width: 80%;
        margin: auto;
        margin-bottom: 10px;
    }

    .grid-humanas3 p {
        color: #730202;

        width: 80%;
        margin: 0 auto;
        text-align: justify;
        font-size: 15px;

    }

    .grid-matematica {
        box-shadow: 1px 1px 10px 1px #7302023a;
        padding: 15px 10px;
        margin: 10px 0 10px 0;
        border-radius: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 10px
    }

    .grid-matematica h2 {
        color: #BF0404;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .grid-matematica p {
        color: #730202;
        width: 80%;
        margin: 0 auto;
        text-align: justify;
        font-size: 15px;

    }

    .grid-natureza {
        box-shadow: 1px 1px 10px 1px #7302023a;
        padding: 15px 10px;
        margin: 10px 0 10px 0;
        border-radius: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 10px
    }

    .cartaz {
        height: 400px;
        margin: auto;
        width: 300px;

    }

    .grid-natureza-cartaz {
        box-shadow: 1px 1px 10px 1px #7302023a;
        padding: 15px 10px;
        margin: 10px 0 10px 0;
        border-radius: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 90%;

    }

    .grid-natureza h2 {
        color: #BF0404;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .grid-natureza p {
        color: #730202;
        width: 80%;
        margin: 0 auto;
        text-align: justify;
        font-size: 15px;

    }

    .retrato {
        margin: auto;
        width: 67%;
    }

    .grid-linguagens {
        text-align: center;
        box-shadow: 1px 1px 10px 1px #7302023a;
        padding: 15px 10px;
        margin: 10px 0 10px 0;
        border-radius: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 10px
    }

    .grid-linguagens h2 {
        color: #BF0404;

        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .grid-linguagens p {
        width: 80%;
        color: #730202;
        margin: 0 auto;
        text-align: justify;
        font-size: 15px;

    }

    .natureza2 {
        margin: auto;
        width: 50%;
    }

    .carrosselimg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
        margin: auto;
        height: 105px;
        border-radius: 20px;
        color: #730202;
        border: 1px dotted rgba(0, 0, 0, 0.349);
        text-align: center;
    }




    .nav-mobile {
        display: none;
    }

    .nav-div {
        display: flex;
        flex-direction: column;
        height: 100dvh;
        width: 60%;
        justify-content: space-between;
        position: fixed;
        top: 3.46rem;
        background-color: #730202;

    }

    .itens-nav {
        height: 30%;
        margin-top: 10px;
    }

    .nav-icons {
        margin-bottom: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;

    }

    .close-nav {
        align-items: center;
        display: flex;
        width: 100%;
        height: 3.5rem;
        background-color: #730202;

    }



    .nav-div p {
        color: aliceblue;
        margin: 10px 14px;
    }

    .git {
        background-color: #F2EAE4;
        border-radius: 50%;
    }

    .linkd {
        background-color: #F2EAE4;
        border-radius: 5px;
    }

    a {
        color: #F2EAE4;
        text-decoration: none;
    }

    .div-nav {
        width: 100%;
        background-color: #730202;
        display: flex;
        flex-direction: row;
        height: 3.5rem;
        align-items: center;
        justify-content: space-between;
    }

    .div-nav h2 {
        user-select: none;

        margin: auto;
        text-align: center;
        color: #ebe6e2;
        font-size: 2rem;
        font-family: "Cinzel Decorative", serif;

    }


    .web-nav .div-nav {
        width: 100%;
        background-color: #730202;
        display: flex;
        flex-direction: row;
        height: 4rem;
        align-items: row;
        justify-content: space-between;
        transition: 0.5s;
    }

    .web-nav .div-nav div {
        margin: 0 10px;
        display: flex;
        flex-direction: row;

        gap: 60px;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .web-nav .div-nav .download {
        position: static;
    }

    .web-nav .div-nav h2 {
        user-select: none;
        margin: auto;
        text-align: center;
        color: #F2EAE4; 
        font-size: 1rem;
        font-family: "Cinzel Decorative", serif;
    }

    .web-nav .div-nav .curriculo {
        display: flex;
        flex-direction: row;
        gap: 0;
        width: min-content;
    }


    .web-nav #title {
        user-select: none;
        text-align: center;
        color: #F2EAE4;
        position: fixed;
        top: 0;
        font-size: 2.8rem;
        font-family: "Cinzel Decorative", serif;
    }

    .close-nav h2 {
        user-select: none;
        text-align: center;
        margin: auto;
        color: #F2EAE4;
        font-size: 2rem;
        font-family: "Cinzel Decorative", serif;
    }

    main {
        width: 100;
        padding-top: 80px;
        margin-left: 10px;
    }

    .voltar {
        position: absolute;
        left: 10px;
        top: 12%;
    }

    .main2 {
        width: 100;
        height: 100vh;
        padding-top: 80px;
        margin-left: 0px;
    }


    nav h3 {
        width: 85%;
        color: #F2EAE4;
        margin: auto;
        text-align: center;
        font-size: 12rem;
        border-top: 1px dotted #F2EAE4;
        border-bottom: 1px dotted #F2EAE4;

    }

    footer {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background: #730202;
        color: #F2EAE4;
        height: 60px;
        width: 100%;

    }

    .foot {
        font-family: "Cinzel Decorative", serif;
        margin: auto;
        font-size: 2rem;
        width: 60%;
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .foot a {
        margin: 0;
    }

    .open-nav {
        position: fixed;
    }

    .download {
        position: fixed;
        right: 0;
    }

    .minha-foto {
        box-shadow: 1px 1px 10px 3px #D98F89;
        width: 300px;
        border-radius: 8px;
        border: 1px double #730202;
    }

    figure {
        text-align: center;
        margin-bottom: 40px;
    }

    main h1 {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        color: #730202;
        text-shadow: 4px 3px 10px #F2EAE4;
        font-size: xx-large;
    }

    h1 span {
        text-shadow: 0 0 0 black;
        color: #BF0404;
    }

    main h3 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .home-title {
        text-align: center;
        margin-left: auto;
    }

    .home-title img {
        margin: 10px auto;
    }

    .home-title-web {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        align-items: center;
    }

    .sobre-web {
        width: 60%;
    }

    .img-sobre {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobremim {
        height: fit-content;
        width: 90%;
        margin: 30px auto;

    }

    .sobremim h2 {
        user-select: none;
        font-size: xx-large;
        color: #BF0404;
        margin: 10px 0;
    }

    h2 span {

        user-select: none;
        color: #730202;
    }

}




@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}