/* Color Theme Swatches in Hex
.Château-Galoupet-1-hex { color: #F2EAE4; }
.Château-Galoupet-2-hex { color: #D98F89; }
.Château-Galoupet-3-hex { color: #BF0404; }
.Château-Galoupet-4-hex { color: #730202; }
.Château-Galoupet-5-hex { color: #D96262; }


.Château-Galoupet-1-rgba { color: rgba(242, 234, 227, 1); }
.Château-Galoupet-2-rgba { color: rgba(216, 143, 136, 1); }
.Château-Galoupet-3-rgba { color: rgba(191, 3, 3, 1); }
.Château-Galoupet-4-rgba { color: rgba(114, 2, 2, 1); }
.Château-Galoupet-5-rgba { color: rgba(216, 97, 97, 1); }


.Château-Galoupet-1-hsla { color: hsla(28, 36, 92, 1); }
.Château-Galoupet-2-hsla { color: hsla(5, 51, 69, 1); }
.Château-Galoupet-3-hsla { color: hsla(0, 96, 38, 1); }
.Château-Galoupet-4-hsla { color: hsla(0, 96, 22, 1); }
.Château-Galoupet-5-hsla { color: hsla(0, 60, 61, 1); } 
*/
